<template name="discussion">
  <div class="discussion {{class}}">
    <div class="discussion-toggle">
      {{#if kayla}}
        Overview
      {{else}}
        Back to Chat
      {{/if}}
    </div>
    {{#if discussion}}
      <h2 class="discussion-title">{{discussion.title}}</h2>
      {{#if kayla}}
        <ul id="messages" class="messages">
          {{#each messages}}
            {{> message}}
          {{/each}}
        </ul>
        <form class="input" autocomplete="off">
          <textarea class="input-text" name="title" placeholder="Type stuff here..."></textarea>
          <input type="submit" class="input-send" value="Send">
        </form>
      {{else}}
        stuff
      {{/if}}
    {{else}}
      Please select a discussion
    {{/if}}
  </div>
</template>
