<template name="navigation">
  <div class="navigation {{class}}">
    {{#if currentUser}}  
      <ul class="navigation-actions">
        <li class="navigation-action-create"><span class="fa fa-plus-circle"></span> Create</li>
        {{#if hasParent}}
          <li class="navigation-action-parent"><span class="fa fa-reply"></span> Back</li>
        {{/if}}
      </ul>
    {{else}}
      {{#if hasParent}}
          <ul class="navigation-actions">  
            <li class="navigation-action-parent"><span class="fa fa-reply"></span> Back</li>
          </ul>  
      {{/if}}
    {{/if}}
    <ul class="navigation-system zorbs">
      {{#each navigationZorbs}}
        {{> zorb}}
      {{/each}}
    </ul>
  </div>
</template>
