<template name="navigation">
  <div class="navigation {{class}}">
    <ul class="navigation-actions">
      <div class="navigation-actions-left">
        {{#if hasParent}}
          <li class="navigation-action-parent">Back</li>
        {{/if}}
      </div>
      <div class="navigation-actions-right">
        <li class="navigation-action-create">Create</li>
      </div>
    </ul>
    <ul class="navigation-system zorbs">
      {{#each navigationZorbs}}
        {{> zorb}}
      {{/each}}
    </ul>
  </div>
</template>
