.header
  display: flex
  justify-content: space-between
  padding: 1.0rem / $golden

  background-color: tomato

  color: white
  font-weight: bold

.header-title
  margin: 0

  font-size: 1.0rem

.header-user
